RewriteEngine on

RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#
RewriteRule ^product/(.*)$ /static/pages/product1.php?i=$1 
RewriteRule ^cart/$ /static/pages/cart2.php 
RewriteRule ^cart/checkout/$ /static/pages/checkout1.php
RewriteRule ^account/$ /static/pages/account.php 
RewriteRule ^g/tracker/([0-9]+)$ /static/pages/tracker.php?oid=$1
RewriteRule ^s/(tnc|privacy)$ /static/pages/tnc.php?spage=$1
RewriteRule ^a/ig/apy.php$ static/art/app.php

ErrorDocument 404 /.404.php

#
<FilesMatch "\.(?i:gif|jpe?g|png|ico|css|js|swf|mp4|svg)$">

  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=172800, public, must-revalidate"
  </IfModule>

</FilesMatch>