@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');
*,:after,:before{box-sizing:border-box}
html{scroll-behavior:smooth}
body{margin:0;font-family:'Comfortaa' ;position:relative;font-size:14.99px;background-color: var(--body);}
img{width:100%;vertical-align:middle}
form{width:100%;height:100%}
a{text-decoration:none;display:block}
button{cursor:pointer;outline:0}
h1,h2,h3,h4,h5,li,ul{list-style-type:none;margin:0;padding:0}
select{border:1px solid #ccc;cursor:pointer;-moz-appearance:none;-webkit-appearance:none;}
:root {
  --bg-color: #15194b;
 --body:#f5f5f5;
 --grey:#f0f2f4;
 --grey1: #e5e5e5;
  --err-red: #dd1d1d;
} 

.main_container{width: 100%;max-width: 1300px;margin: auto;}

.hr{border-bottom:1px solid #000;width:100%;}


 



        .index_emg_c{  height: 280px;}
        .index_emg_c>img{ object-fit: cover;height: 100%}

        .indexhome_collection{
            display: flex;
            flex-direction: row;
            align-items: stretch;
            width: 100%;
        }
        .indexhome_collection>div{
            border-radius: 10px;overflow: hidden;
            margin:4px; 
            background: red;
        }
        .indexhome_collection>div>p{
            padding-top:2px;
            margin:9px 0 1px;
            text-align:center;
        }




    .index_f_1{border-radius: 25px;background: rgb(25, 29, 43);
        width: 100%;
        aspect-ratio: 32 / 9;
        display: flex;
        position: relative; 
        overflow: hidden;}

    .index_f_1>div{
        position: absolute;
        transition: all 0.6s ease 0s;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        height: 100%;
        top: 0px;
        bottom: 0px;
    }
    .index_f_1>div:nth-child(1){
        left: 0px;
        width: 25%;
        background-color: rgb(25, 29, 43);
        clip-path: polygon(0px 0px, 100% 0px, 70% 100%, 0px 100%);
    }
    .index_f_1>div:nth-child(2){ 
        left: 17.5%;
        width: 57.5%;
        background-color: rgb(46, 50, 69);
        clip-path: polygon(12.5% 0px, 100% 0px, 87.5% 100%, 0px 100%);
    } 
    .index_f_1>div:nth-child(3){ 
        left: 42.5%;
        width: 57.5%;
        background-color: rgb(46, 50, 69);
        clip-path: polygon(12.5% 0px, 100% 0px, 100% 100%, 0px 100%);
    }


/*hover 1*/
   .index_f_1>div.index_f_1_1:nth-child(1){ 
    left: 0%;
    width: 54.5%; }

    .index_f_1> div.index_f_1_1:nth-child(2){ 
    left: 48%;
    width: 31.5%;
    clip-path: polygon(20px 0px, 100% 0px, 80% 100%, 0px 100%);}

    .index_f_1> div.index_f_1_1:nth-child(3){ 
    left: 72%;
    width: 27.5%; } 

/*hover 2*/
   .index_f_1>div.index_f_1_2:nth-child(1){ 
   
    left: 0px;
    width: 25%; }

    .index_f_1> div.index_f_1_2:nth-child(2){ 
  
    left: 17.5%;
    width: 57.5%;
}

    .index_f_1> div.index_f_1_2:nth-child(3){ 
    left: 67%;
    width: 33%;clip-path: polygon(22.5% 0px, 100% 0px, 100% 100%, 0px 100%); } 



    .checkout_g4356{width: 100%;padding: 16px;display: flex;}
    .checkout_g4356 h2{margin:12px}
    .checkout_g4356 input,.checkout_g4356 select{width: 100%;margin-bottom:12px;padding:16px 12px;border-radius: 6px;border: 1px solid var(--grey)}
    .checkout_createaccount{display: flex;font-size:12px;padding:5px 0;margin-bottom:17px;align-items: center;}
    .checkout_createaccount>label>input{display:none;}
    .checkout_createaccount>label>.checkout_checkker{width:20px;border:1px solid #ccc;height: 20px;margin-right:9px;cursor: pointer;transition:0.21s all linear;border-radius:5px}
    .checkout_createaccount>label>input:checked + .checkout_checkker{box-shadow: 0 0 0 0.7142857142857143em #3182ce inset;} 
    .savenow_m47864now{cursor: pointer;background:var(--bg-color);color:#fff}

    .cart_container{
        display:flex;letter-spacing: 1px;
    color: var(--bg-color) !important;
    }
.closex{cursor:pointer;}
    .cartv1{width:55%;display: flex;justify-content:end;background: var(--body);}
    .cartv1>.cartv1_inner{max-width:750px;padding:12px;margin-top:29px;width:100%;}

    .cartv1>.cartv1_inner>ul{padding:12px; width:100%;display: grid; column-gap: 16px;margin-bottom:12px;
    grid-template-columns: repeat(16,calc(6.25% - 16px + 1px));
    row-gap: 16px; border-bottom: 1px solid #fff;}
    .cartv1>.cartv1_inner>ul>li:nth-child(1){grid-area: 1/1/span 1/span 3;}
    .cartv1>.cartv1_inner>ul>li:nth-child(2){grid-area: 1/4/span 1/span 10;display: flex;flex-direction: column;justify-content: space-between;padding:12px 0;}
    .cartv1>.cartv1_inner>ul>li:nth-child(2)>.delt>span{cursor:pointer;font-size: 12px;color:#3182ce;}
    .cartv1>.cartv1_inner>ul>li:nth-child(3){grid-area: 1/15/span 1/span 1;display: flex;flex-direction: column;justify-content: space-between;align-items: center;padding:12px 0;}
    .cartv1>.cartv1_inner>ul>li:nth-child(3)>.pscaa{font-weight:600;font-size:19px} 
    .cartv1>.cartv1_inner>ul>li:nth-child(3)>.sees{display:flex;width: 100%; padding:3px 4px;justify-content: space-around;
    align-items: center;cursor:pointer;outline:none;}
    .cartv1>.cartv1_inner>ul>li:nth-child(3)>.sees>span{
    padding: 7px 9px;
    background: #fff}
    .cartv1>.cartv1_inner>ul>li:nth-child(3)>.sees>input{border:0;text-align:center;
    height: 100%;}
     .cartv1 select:focus-visible,.cartv1 select:focus{border:0 !important;outline:none;}

    .cartv2{width:45%;position:relative;background-color:#ffff}
    .cartv2>.cartv2_inner{position: sticky;top: 2px;padding:12px;margin-top:39px;max-width:800px;}
    .cartv2>.cartv2_inner>ul{padding:12px;border:1px solid var(--grey)}
    .cartv2>.cartv2_inner>ul>li{display:flex;justify-content: space-between;margin-bottom:9px}
    .cartv2>.cartv2_inner>ul>li.cartv2_shippaddressfoo{justify-content:center !important;}
    .cartv2>.cartv2_inner>ul>li>hr{width: 100%}
    .cartv2>.cartv2_inner>ul>li>a{margin-top:10px;background-color:#3665f3;padding:19px;width:100%;text-align:center;border-radius:15px;color: #fff}
    .cartv2 .reltoal,.cartv2 .subtotall{font-weight:600}
    .cartv1 h2{margin-bottom:26px;font-size:23px}
    .cartv1 .carttitle a{color:#000;font-weight:600;line-height:18px}
    .cartv2 .loginsespoint>span{margin-bottom:12px}
    .cartv2 .loginsespoint>span>a{display:inline;color:blue;}
.termsCcheck{margin-bottom:0 !important;}
.termsCcheck>div{margin-bottom:0 !important;margin-top:15px}
.cartv2_shippaddressfoo{border:1px solid #ccc;padding:12px;font-size:11px}
[data-formpagereturn="cart_address_765u"]{width: 100%;transition:1s linear all} 
.cart_address_editshipping>div{margin-bottom:8px;}
.cart_address_editshipping>div:nth-child(5){margin-bottom:0;}
.nj79r8p_parn{text-align: right;color:#3182ce;margin:0;display:flex;justify-content:end;margin-bottom:0 !important;}
.nj79r8p_parn>div{cursor: pointer;}