@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');
*,:after,:before{box-sizing:border-box}
html{scroll-behavior:smooth}
body{margin:0;font-family:'Comfortaa' ;position:relative;
	background-color:#fff;font-size:14px}
img{width:100%;vertical-align:middle}
form{width:100%;height:100%}
a{text-decoration:none;display:block}
button{cursor:pointer;outline:0}
h1,h2,h3,h4,h5,li,ul{list-style-type:none;margin:0;padding:0}
select{border:1px solid #ccc;cursor:pointer;-moz-appearance:none;-webkit-appearance:none;}
:root {
  --bg-color: #0f101b;
  --grey: #e5e5e5;
  --err-red: #dd1d1d;
}


.main_container{width: 100%;max-width: 1300px;margin: auto;}



 



        .index_emg_c{  height: 280px;}
        .index_emg_c>img{ object-fit: cover;height: 100%}

        .indexhome_collection{
            display: flex;
            flex-direction: row;
            align-items: stretch;
            width: 100%;
        }
        .indexhome_collection>div{
            border-radius: 10px;overflow: hidden;
            margin:4px; 
            background: red;
        }
        .indexhome_collection>div>p{
            padding-top:2px;
            margin:9px 0 1px;
            text-align:center;
        }




    .index_f_1{border-radius: 25px;background: yellowgreen;
        width: 100%;
        aspect-ratio: 32 / 9;
        display: flex;
        position: relative; 
        overflow: hidden;}

    .index_f_1>div{
        position: absolute;
        transition: all 0.6s ease 0s;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        height: 100%;
        top: 0px;
        bottom: 0px;
    }
    .index_f_1>div:nth-child(1){
        left: 0px;
        width: 25%;
        background-color: rgb(25, 29, 43);
        clip-path: polygon(0px 0px, 100% 0px, 70% 100%, 0px 100%);
    }
    .index_f_1>div:nth-child(2){ 
        left: 17.5%;
        width: 57.5%;
        background-color: rgb(46, 50, 69);
        clip-path: polygon(12.5% 0px, 100% 0px, 87.5% 100%, 0px 100%);
    } 
    .index_f_1>div:nth-child(3){ 
        left: 42.5%;
        width: 57.5%;
        background-color: rgb(46, 50, 69);
        clip-path: polygon(12.5% 0px, 100% 0px, 100% 100%, 0px 100%);
    }


/*hover 1*/
   .index_f_1>div.index_f_1_1:nth-child(1){ 
    left: 0%;
    width: 54.5%; }

    .index_f_1> div.index_f_1_1:nth-child(2){ 
    left: 48%;
    width: 31.5%;
    clip-path: polygon(20px 0px, 100% 0px, 80% 100%, 0px 100%);}

    .index_f_1> div.index_f_1_1:nth-child(3){ 
    left: 72%;
    width: 27.5%; } 

/*hover 2*/
   .index_f_1>div.index_f_1_2:nth-child(1){ 
   
    left: 0px;
    width: 25%; }

    .index_f_1> div.index_f_1_2:nth-child(2){ 
  
    left: 17.5%;
    width: 57.5%;
}

    .index_f_1> div.index_f_1_2:nth-child(3){ 
    left: 67%;
    width: 33%;clip-path: polygon(22.5% 0px, 100% 0px, 100% 100%, 0px 100%); } 

